In [798]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\lenovo\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\lenovo\anaconda3\lib\site-packages (from bs4) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\lenovo\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: requests in c:\users\lenovo\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\lenovo\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\lenovo\anaconda3\lib\site-packages (from requests) (1.25.9)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\lenovo\anaconda3\lib\site-packages (from requests) (3.0.4)

# 1) Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [799]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [800]:
html=urlopen('https://en.wikipedia.org/wiki/Main_Page')

In [801]:
bs=BeautifulSoup(html,"html.parser")

In [802]:
titles=bs.find_all(['h1','h2','h3','h4','h5','h6'])

In [803]:
print('List all the header tags :', *titles, sep='\n\n')

List all the header tags :

<h1 class="firstHeading" id="firstHeading" lang="en">Main Page</h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfl-h2"><span id="From_today.27s_featured_list"></span><span class="mw-headline" id="From_today's_featured_list">From today's featured list</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 id="p-personal-label">
<span>Personal tools</span>
</h3>

<h3 id="p-namespaces-label">
<span>Namespaces</span>
</h3>

<h3 id="p-variants-label">
<span>Variants</span>
</h3>

<h3 id="p-views-label">
<span>Views</span>
</h3>

<h3 id="p-cactions-label">
<span>More</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 id="p-navigation-label">
<span>Navigation</span>
</h3>

<h3 id="p-interaction-label">
<span>Contribute</span>
</h3>

<h3 id="p-tb-label">
<span>Tools</span>
</h3>

<h3 id="p-coll-print_export-label">
<span>Print/export</span>
</h3>

<h3 id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>

<h3 id="p-lang-label">
<span>Languages</span>
</h3>

# 2)Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [804]:
import pandas as pd
import numpy as np
import requests
from requests import get
from bs4 import BeautifulSoup

In [805]:
page=requests.get("https://www.imdb.com/chart/top/")

In [806]:
soup=BeautifulSoup(page.content,'html.parser')

In [807]:
Names=[]
Years=[]
IMDB_ratings=[]

In [808]:
names=soup.find_all('td',class_="titleColumn")

In [809]:
for i in names:
    Names.append(i.get_text().replace('\n',''))
    Names[0:3]

In [810]:
print(len(Names))

250

In [811]:
year=soup.find_all('span',class_="secondaryInfo")

In [812]:
for i in year:
    Years.append(i.get_text())
    Years[0:3]

In [813]:
print(len(Years))

250

In [814]:
ratings=soup.find_all('td',class_="ratingColumn imdbRating")

In [815]:
for i in ratings:
    full_ratings=""
    for j in i.find_all('strong'):
        full_ratings=full_ratings+""+j.get_text()
        print(full_ratings)
        IMDB_ratings.append(full_ratings)
        ratings[0:3]

9.2
9.1
9.0
9.0
8.9
8.9
8.9
8.8
8.8
8.8
8.8
8.8
8.7
8.7
8.7
8.6
8.6
8.6
8.6
8.6
8.6
8.6
8.6
8.6
8.6
8.6
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.4
8.4
8.4
8.4
8.4
8.4
8.4
8.4
8.4
8.4
8.4
8.4
8.4
8.4
8.4
8.4
8.4
8.4
8.4
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0

In [816]:
print(len(IMDB_ratings))

250

In [817]:
import pandas as pd
movies=pd.DataFrame({})
movies['names']=Names[:100]
movies['years']=Years[:100]
movies['ratings']=IMDB_ratings[:100]

In [818]:
movies

                                           names   years ratings
0         1.      The Shawshank Redemption(1994)  (1994)     9.2
1                    2.      The Godfather(1972)  (1972)     9.1
2           3.      The Godfather: Part II(1974)  (1974)     9.0
3                  4.      The Dark Knight(2008)  (2008)     9.0
4                     5.      12 Angry Men(1957)  (1957)     8.9
..                                           ...     ...     ...
95                   96.      Citizen Kane(1941)  (1941)     8.3
96                         97.      Dangal(2016)  (2016)     8.3
97              98.      Full Metal Jacket(1987)  (1987)     8.2
98            99.      Ladri di biciclette(1948)  (1948)     8.2
99           100.      Singin' in the Rain(1952)  (1952)     8.2

[100 rows x 3 columns]

In [819]:
movies.to_csv('imdb_movies')

In [820]:
pd.read_csv('imdb_movies')

    Unnamed: 0                                         names   years  ratings
0            0        1.      The Shawshank Redemption(1994)  (1994)      9.2
1            1                   2.      The Godfather(1972)  (1972)      9.1
2            2          3.      The Godfather: Part II(1974)  (1974)      9.0
3            3                 4.      The Dark Knight(2008)  (2008)      9.0
4            4                    5.      12 Angry Men(1957)  (1957)      8.9
..         ...                                           ...     ...      ...
95          95                   96.      Citizen Kane(1941)  (1941)      8.3
96          96                         97.      Dangal(2016)  (2016)      8.3
97          97              98.      Full Metal Jacket(1987)  (1987)      8.2
98          98            99.      Ladri di biciclette(1948)  (1948)      8.2
99          99           100.      Singin' in the Rain(1952)  (1952)      8.2

[100 rows x 4 columns]

# 3)Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [821]:
import pandas as pd
import numpy as np
import requests
from requests import get
from bs4 import BeautifulSoup

In [822]:
page=requests.get("https://www.imdb.com/india/top-rated-indian-movies/")

In [823]:
soup=BeautifulSoup(page.content,'html.parser')

In [824]:
Movie_Names=[]
IMDB_ratings=[]
Year_of_release=[]

In [825]:
name=soup.find_all('td',class_="titleColumn")
name[0:3]

[<td class="titleColumn">
       1.
       <a href="/title/tt0048473/" title="Satyajit Ray (dir.), Kanu Bannerjee, Karuna Bannerjee">Pather Panchali</a>
 <span class="secondaryInfo">(1955)</span>
 </td>,
 <td class="titleColumn">
       2.
       <a href="/title/tt0079221/" title="Hrishikesh Mukherjee (dir.), Amol Palekar, Bindiya Goswami">Gol Maal</a>
 <span class="secondaryInfo">(1979)</span>
 </td>,
 <td class="titleColumn">
       3.
       <a href="/title/tt7060344/" title="Ram Kumar (dir.), Vishnu Vishal, Amala Paul">Ratsasan</a>
 <span class="secondaryInfo">(2018)</span>
 </td>]

In [826]:
for i in name:
    Movie_Names.append(i.get_text().replace('\n\n',''))
    Movie_Names[0:3]

In [827]:
print(len(Movie_Names))

250

In [828]:
Movie_Names

['\n      1.\n      Pather Panchali\n(1955)\n',
 '\n      2.\n      Gol Maal\n(1979)\n',
 '\n      3.\n      Ratsasan\n(2018)\n',
 '\n      4.\n      Nayakan\n(1987)\n',
 '\n      5.\n      Anbe Sivam\n(2003)\n',
 '\n      6.\n      Apur Sansar\n(1959)\n',
 '\n      7.\n      Natsamrat\n(2016)\n',
 '\n      8.\n      Kireedam\n(1989)\n',
 '\n      9.\n      Pariyerum Perumal\n(2018)\n',
 '\n      10.\n      Black Friday\n(2004)\n',
 '\n      11.\n      Manichitrathazhu\n(1993)\n',
 '\n      12.\n      Thevar Magan\n(1992)\n',
 '\n      13.\n      96\n(2018)\n',
 '\n      14.\n      Kumbalangi Nights\n(2019)\n',
 '\n      15.\n      3 Idiots\n(2009)\n',
 '\n      16.\n      Taare Zameen Par\n(2007)\n',
 '\n      17.\n      Visaaranai\n(2015)\n',
 '\n      18.\n      Thalapathi\n(1991)\n',
 '\n      19.\n      Aparajito\n(1956)\n',
 '\n      20.\n      Anand\n(1971)\n',
 '\n      21.\n      Jaane Bhi Do Yaaro\n(1983)\n',
 '\n      22.\n      Asuran\n(2019)\n',
 '\n      23.\n      Pyaasa\n(1957)\n',
 '\n      24.\n      Guide\n(1965)\n',
 '\n      25.\n      Kannathil Muthamittal\n(2002)\n',
 '\n      26.\n      Chupke Chupke\n(1975)\n',
 '\n      27.\n      Kaithi\n(2019)\n',
 '\n      28.\n      Jersey\n(2019)\n',
 '\n      29.\n      Vikram Vedha\n(2017)\n',
 '\n      30.\n      Thani Oruvan\n(2015)\n',
 '\n      31.\n      Vada Chennai\n(2018)\n',
 '\n      32.\n      Soorarai Pottru\n(2020)\n',
 '\n      33.\n      Drishyam\n(2013)\n',
 '\n      34.\n      Khosla Ka Ghosla!\n(2006)\n',
 '\n      35.\n      Aruvi\n(2016)\n',
 '\n      36.\n      Peranbu\n(2018)\n',
 '\n      37.\n      Super Deluxe\n(2019)\n',
 '\n      38.\n      Agent Sai Srinivasa Athreya\n(2019)\n',
 '\n      39.\n      Tumbbad\n(2018)\n',
 '\n      40.\n      Andhadhun\n(2018)\n',
 '\n      41.\n      Mahanati\n(2018)\n',
 '\n      42.\n      Kaakkaa Muttai\n(2014)\n',
 '\n      43.\n      Premam\n(2015)\n',
 '\n      44.\n      Dhuruvangal Pathinaaru\n(2016)\n',
 '\n      45.\n      Satya\n(1998)\n',
 '\n      46.\n      Shahid\n(2012)\n',
 '\n      47.\n      Bangalore Days\n(2014)\n',
 '\n      48.\n      Mudhalvan\n(1999)\n',
 '\n      49.\n      Soodhu Kavvum\n(2013)\n',
 '\n      50.\n      Anniyan\n(2005)\n',
 '\n      51.\n      Gangs of Wasseypur\n(2012)\n',
 '\n      52.\n      Papanasam\n(2015)\n',
 '\n      53.\n      Jigarthanda\n(2014)\n',
 '\n      54.\n      Bhaag Milkha Bhaag\n(2013)\n',
 '\n      55.\n      Paan Singh Tomar\n(2012)\n',
 '\n      56.\n      Talvar\n(2015)\n',
 '\n      57.\n      Swades: We, the People\n(2004)\n',
 '\n      58.\n      Hera Pheri\n(2000)\n',
 '\n      59.\n      Sholay\n(1975)\n',
 '\n      60.\n      Drishyam\n(2015)\n',
 '\n      61.\n      Nil Battey Sannata\n(2015)\n',
 '\n      62.\n      Pithamagan\n(2003)\n',
 '\n      63.\n      Black\n(2005)\n',
 '\n      64.\n      Chak De! India\n(2007)\n',
 '\n      65.\n      Jo Jeeta Wohi Sikandar\n(1992)\n',
 '\n      66.\n      Sairat\n(2016)\n',
 '\n      67.\n      Mughal-E-Azam\n(1960)\n',
 '\n      68.\n      Charulata\n(1964)\n',
 '\n      69.\n      Rang De Basanti\n(2006)\n',
 '\n      70.\n      Ustad Hotel\n(2012)\n',
 '\n      71.\n      Queen\n(2013)\n',
 '\n      72.\n      Udaan\n(2010)\n',
 '\n      73.\n      Article 15\n(2019)\n',
 '\n      74.\n      Zindagi Na Milegi Dobara\n(2011)\n',
 '\n      75.\n      A Wednesday\n(2008)\n',
 '\n      76.\n      Dil Chahta Hai\n(2001)\n',
 '\n      77.\n      Munna Bhai M.B.B.S.\n(2003)\n',
 '\n      78.\n      Sarfarosh\n(1999)\n',
 '\n      79.\n      Andaz Apna Apna\n(1994)\n',
 '\n      80.\n      Masaan\n(2015)\n',
 '\n      81.\n      OMG: Oh My God!\n(2012)\n',
 '\n      82.\n      Roja\n(1992)\n',
 '\n      83.\n      Lagaan: Once Upon a Time in India\n(2001)\n',
 '\n      84.\n      Maheshinte Prathikaaram\n(2016)\n',
 '\n      85.\n      Theeran adhigaaram ondru\n(2017)\n',
 '\n      86.\n      Kahaani\n(2012)\n',
 '\n      87.\n      Alai Payuthey\n(2000)\n',
 '\n      88.\n      PK\n(2014)\n',
 '\n      89.\n      Baasha\n(1995)\n',
 '\n      90.\n      Uri: The Surgical Strike\n(2018)\n',
 '\n      91.\n      Iqbal\n(2005)\n',
 '\n      92.\n      Pink\n(2016)\n',
 '\n      93.\n      Barfi!\n(2012)\n',
 '\n      94.\n      The Legend of Bhagat Singh\n(2002)\n',
 '\n      95.\n      Bommarillu\n(2006)\n',
 '\n      96.\n      Lucia\n(2013)\n',
 '\n      97.\n      Bombay\n(1995)\n',
 '\n      98.\n      Maqbool\n(2003)\n',
 '\n      99.\n      Omkara\n(2006)\n',
 '\n      100.\n      Section 375\n(2019)\n',
 '\n      101.\n      Lage Raho Munna Bhai\n(2006)\n',
 '\n      102.\n      Indian\n(1996)\n',
 '\n      103.\n      Chhichhore\n(2019)\n',
 '\n      104.\n      Deewaar\n(1975)\n',
 '\n      105.\n      Dilwale Dulhania Le Jayenge\n(1995)\n',
 '\n      106.\n      Baahubali 2: The Conclusion\n(2017)\n',
 '\n      107.\n      Gulaal\n(2009)\n',
 '\n      108.\n      Padosan\n(1968)\n',
 '\n      109.\n      Haider\n(2014)\n',
 '\n      110.\n      Pelli Choopulu\n(2016)\n',
 '\n      111.\n      Gully Boy\n(2019)\n',
 '\n      112.\n      Mother India\n(1957)\n',
 '\n      113.\n      Ugly\n(2013)\n',
 '\n      114.\n      Athadu\n(2005)\n',
 '\n      115.\n      Padayappa\n(1999)\n',
 '\n      116.\n      Special Chabbis\n(2013)\n',
 '\n      117.\n      Rangasthalam\n(2018)\n',
 '\n      118.\n      Dev.D\n(2009)\n',
 '\n      119.\n      Jalsaghar\n(1958)\n',
 '\n      120.\n      Ship of Theseus\n(2012)\n',
 '\n      121.\n      Badhaai ho\n(2018)\n',
 '\n      122.\n      Bajrangi Bhaijaan\n(2015)\n',
 '\n      123.\n      Vaastav: The Reality\n(1999)\n',
 '\n      124.\n      Ulidavaru Kandanthe\n(2014)\n',
 '\n      125.\n      Company\n(2002)\n',
 '\n      126.\n      Arjun Reddy\n(2017)\n',
 '\n      127.\n      Mukkabaaz\n(2017)\n',
 '\n      128.\n      Ankhon Dekhi\n(2013)\n',
 '\n      129.\n      Vaaranam Aayiram\n(2008)\n',
 '\n      130.\n      Vedam\n(2010)\n',
 '\n      131.\n      K.G.F: Chapter 1\n(2018)\n',
 '\n      132.\n      Manjhi: The Mountain Man\n(2015)\n',
 '\n      133.\n      Dil Bechara\n(2020)\n',
 '\n      134.\n      Pizza\n(2012)\n',
 '\n      135.\n      My Name Is Khan\n(2010)\n',
 '\n      136.\n      Kal Ho Naa Ho\n(2003)\n',
 '\n      137.\n      Jab We Met\n(2007)\n',
 '\n      138.\n      Mumbai Police\n(2013)\n',
 '\n      139.\n      Memories\n(2013)\n',
 '\n      140.\n      Unnaipol Oruvan\n(2009)\n',
 '\n      141.\n      Padman\n(2018)\n',
 '\n      142.\n      Border\n(1997)\n',
 '\n      143.\n      Bãhubali: The Beginning\n(2015)\n',
 '\n      144.\n      Lakshya\n(2004)\n',
 '\n      145.\n      Dor\n(2006)\n',
 '\n      146.\n      Super 30\n(2019)\n',
 '\n      147.\n      Airlift\n(2016)\n',
 '\n      148.\n      Vettaiyaadu Vilaiyaadu\n(2006)\n',
 '\n      149.\n      Baby\n(2015)\n',
 '\n      150.\n      Hey Ram\n(2000)\n',
 '\n      151.\n      Charlie\n(2015)\n',
 '\n      152.\n      English Vinglish\n(2012)\n',
 '\n      153.\n      Gangaajal\n(2003)\n',
 '\n      154.\n      Okkadu\n(2003)\n',
 '\n      155.\n      The Lunchbox\n(2013)\n',
 '\n      156.\n      Johnny Gaddaar\n(2007)\n',
 '\n      157.\n      Ab Tak Chhappan\n(2004)\n',
 '\n      158.\n      Hindi Medium\n(2017)\n',
 '\n      159.\n      Manam\n(2014)\n',
 '\n      160.\n      Secret Superstar\n(2017)\n',
 '\n      161.\n      Badla\n(2019)\n',
 '\n      162.\n      Sonchiriya\n(2019)\n',
 '\n      163.\n      Nayak: The Real Hero\n(2001)\n',
 '\n      164.\n      Raazi\n(2018)\n',
 '\n      165.\n      Vicky Donor\n(2012)\n',
 '\n      166.\n      Mr. India\n(1987)\n',
 '\n      167.\n      Udta Punjab\n(2016)\n',
 '\n      168.\n      Don\n(1978)\n',
 '\n      169.\n      Pokiri\n(2006)\n',
 '\n      170.\n      Stanley Ka Dabba\n(2011)\n',
 '\n      171.\n      Rock On!!\n(2008)\n',
 '\n      172.\n      Dasvidaniya\n(2008)\n',
 '\n      173.\n      Veer-Zaara\n(2004)\n',
 '\n      174.\n      RangiTaranga\n(2015)\n',
 '\n      175.\n      Aligarh\n(2015)\n',
 '\n      176.\n      Guru\n(2007)\n',
 '\n      177.\n      Samsara\n(2001)\n',
 '\n      178.\n      Arya\n(2004)\n',
 '\n      179.\n      Oye Lucky! Lucky Oye!\n(2008)\n',
 '\n      180.\n      Velaiilla Pattadhari\n(2014)\n',
 '\n      181.\n      M.S. Dhoni: The Untold Story\n(2016)\n',
 '\n      182.\n      Goodachari\n(2018)\n',
 '\n      183.\n      Mumbai Meri Jaan\n(2008)\n',
 '\n      184.\n      Kai po che!\n(2013)\n',
 '\n      185.\n      Kapoor & Sons\n(2016)\n',
 '\n      186.\n      Rockstar\n(2011)\n',
 '\n      187.\n      Eega\n(2012)\n',
 '\n      188.\n      Aamir\n(2008)\n',
 '\n      189.\n      Kabhi Haan Kabhi Naa\n(1994)\n',
 '\n      190.\n      Darr\n(1993)\n',
 '\n      191.\n      Newton\n(2017)\n',
 '\n      192.\n      24\n(2016)\n',
 '\n      193.\n      Earth\n(1998)\n',
 '\n      194.\n      Ugramm\n(2014)\n',
 '\n      195.\n      Madras Cafe\n(2013)\n',
 '\n      196.\n      Agneepath\n(1990)\n',
 '\n      197.\n      Pyaar Ka Punchnama\n(2011)\n',
 '\n      198.\n      Neerja\n(2016)\n',
 '\n      199.\n      Sarkar\n(2005)\n',
 '\n      200.\n      Bheja Fry\n(2007)\n',
 '\n      201.\n      The Tashkent Files\n(2019)\n',
 '\n      202.\n      Highway\n(2014)\n',
 '\n      203.\n      Thuppakki\n(2012)\n',
 '\n      204.\n      Detective Byomkesh Bakshy!\n(2015)\n',
 '\n      205.\n      Manorama: Six Feet Under\n(2007)\n',
 '\n      206.\n      Magadheera\n(2009)\n',
 '\n      207.\n      Baazigar\n(1993)\n',
 '\n      208.\n      Tanu Weds Manu Returns\n(2015)\n',
 '\n      209.\n      Wake Up Sid\n(2009)\n',
 '\n      210.\n      Saala Khadoos\n(2016)\n',
 '\n      211.\n      Piku\n(2015)\n',
 '\n      212.\n      Kaththi\n(2014)\n',
 '\n      213.\n      Kuch Kuch Hota Hai\n(1998)\n',
 '\n      214.\n      Sanju\n(2018)\n',
 '\n      215.\n      1 - Nenokkadine\n(2014)\n',
 '\n      216.\n      Nerkonda Paarvai\n(2019)\n',
 '\n      217.\n      Ludo\n(2020)\n',
 '\n      218.\n      Delhi Belly\n(2011)\n',
 '\n      219.\n      Dhruva\n(2016)\n',
 '\n      220.\n      Stree\n(2018)\n',
 '\n      221.\n      Devdas\n(2002)\n',
 '\n      222.\n      Jodhaa Akbar\n(2008)\n',
 '\n      223.\n      Parmanu: The Story of Pokhran\n(2018)\n',
 '\n      224.\n      Lootcase\n(2020)\n',
 '\n      225.\n      Raanjhanaa\n(2013)\n',
 '\n      226.\n      Trapped\n(2016)\n',
 '\n      227.\n      Dil Se..\n(1998)\n',
 '\n      228.\n      Ek Hasina Thi\n(2004)\n',
 '\n      229.\n      Rocket Singh: Salesman of the Year\n(2009)\n',
 '\n      230.\n      Bhavesh Joshi Superhero\n(2018)\n',
 '\n      231.\n      Hungama\n(2003)\n',
 '\n      232.\n      Madaari\n(2016)\n',
 '\n      233.\n      Do Dooni Chaar\n(2010)\n',
 '\n      234.\n      Geetha Govindam\n(2018)\n',
 '\n      235.\n      Rehnaa Hai Terre Dil Mein\n(2001)\n',
 '\n      236.\n      Jolly LLB\n(2013)\n',
 '\n      237.\n      The Ghazi Attack\n(2017)\n',
 '\n      238.\n      Jallikattu\n(2019)\n',
 '\n      239.\n      Ghilli\n(2004)\n',
 '\n      240.\n      Bareilly Ki Barfi\n(2017)\n',
 '\n      241.\n      Karwaan\n(2018)\n',
 '\n      242.\n      Ghajini\n(2005)\n',
 '\n      243.\n      Phas Gaye Re Obama\n(2010)\n',
 '\n      244.\n      Qayamat Se Qayamat Tak\n(1988)\n',
 '\n      245.\n      The Sky Is Pink\n(2019)\n',
 '\n      246.\n      Dum Laga Ke Haisha\n(2015)\n',
 '\n      247.\n      Sivaji\n(2007)\n',
 '\n      248.\n      October\n(2018)\n',
 '\n      249.\n      Hichki\n(2018)\n',
 '\n      250.\n      Hum Aapke Hain Koun...!\n(1994)\n']

In [829]:
rating=soup.find_all('td',class_="ratingColumn imdbRating")
rating[0:3]

[<td class="ratingColumn imdbRating">
 <strong title="8.5 based on 23,580 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 17,973 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 24,737 user ratings">8.5</strong>
 </td>]

In [830]:
for i in ratings:
    full_ratings=""
    for j in i.find_all('strong'):
        full_ratings=full_ratings+""+j.get_text().replace('\n','')
        print(full_ratings)
        IMDB_ratings.append(full_ratings)
        ratings[0:3]

9.2
9.1
9.0
9.0
8.9
8.9
8.9
8.8
8.8
8.8
8.8
8.8
8.7
8.7
8.7
8.6
8.6
8.6
8.6
8.6
8.6
8.6
8.6
8.6
8.6
8.6
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.4
8.4
8.4
8.4
8.4
8.4
8.4
8.4
8.4
8.4
8.4
8.4
8.4
8.4
8.4
8.4
8.4
8.4
8.4
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0

In [831]:
print(len(IMDB_ratings))

250

In [832]:
year=soup.find_all('span',class_="secondaryInfo")
for i in year:
    Year_of_release.append(i.get_text())
    Year_of_release[0:3]

In [833]:
print(len(Year_of_release))

250

In [834]:
import pandas as pd
indianmovie=pd.DataFrame({})
indianmovie['name']=Movie_Names[:100]
indianmovie['rating']=IMDB_ratings[:100]
indianmovie['year']=Year_of_release[:100]

In [835]:
indianmovie

                                           name rating    year
0   \n      1.\n      Pather Panchali\n(1955)\n    9.2  (1955)
1          \n      2.\n      Gol Maal\n(1979)\n    9.1  (1979)
2          \n      3.\n      Ratsasan\n(2018)\n    9.0  (2018)
3           \n      4.\n      Nayakan\n(1987)\n    9.0  (1987)
4        \n      5.\n      Anbe Sivam\n(2003)\n    8.9  (2003)
..                                          ...    ...     ...
95           \n      96.\n      Lucia\n(2013)\n    8.3  (2013)
96          \n      97.\n      Bombay\n(1995)\n    8.3  (1995)
97         \n      98.\n      Maqbool\n(2003)\n    8.2  (2003)
98          \n      99.\n      Omkara\n(2006)\n    8.2  (2006)
99    \n      100.\n      Section 375\n(2019)\n    8.2  (2019)

[100 rows x 3 columns]

In [915]:
indianmovie.to_csv('imdb_indianmovie')

In [916]:
pd.read_csv('imdb_indianmovie')

    Unnamed: 0                                         name  rating    year
0            0  \n      1.\n      Pather Panchali\n(1955)\n     9.2  (1955)
1            1         \n      2.\n      Gol Maal\n(1979)\n     9.1  (1979)
2            2         \n      3.\n      Ratsasan\n(2018)\n     9.0  (2018)
3            3          \n      4.\n      Nayakan\n(1987)\n     9.0  (1987)
4            4       \n      5.\n      Anbe Sivam\n(2003)\n     8.9  (2003)
..         ...                                          ...     ...     ...
95          95           \n      96.\n      Lucia\n(2013)\n     8.3  (2013)
96          96          \n      97.\n      Bombay\n(1995)\n     8.3  (1995)
97          97         \n      98.\n      Maqbool\n(2003)\n     8.2  (2003)
98          98          \n      99.\n      Omkara\n(2006)\n     8.2  (2006)
99          99    \n      100.\n      Section 375\n(2019)\n     8.2  (2019)

[100 rows x 4 columns]

# 4)Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’

In [838]:
import pandas as pd
import numpy as np
import requests
from requests import get
from bs4 import BeautifulSoup

In [839]:
page=requests.get("https://bookpage.com/")

In [840]:
soup=BeautifulSoup(page.content,'html.parser')

In [841]:
Book_names=[]
Author_names=[]
Genre=[]
Book_review=[]

In [842]:
book=soup.find_all('div',class_="content")
book[0:4]

[<div class="content">
 <h4 class="italic">
 <a href="/features/25907-book-clubs-february-2021-fiction">Book Clubs: February 2021</a>
 </h4>
 <p class="sans bold">
 Feature by Julie Hale
 </p>
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=fiction">Fiction</a>
  /
 <a href="/search?book_genre=popular_fiction">Popular Fiction</a>
  /
 <a href="/search?book_genre=science_fiction_fantasy">Science Fiction &amp; Fantasy</a>
 </p>
 <p class="excerpt">
 Fight the winter doldrums with four fresh takes on the supernatural.
 </p>
 <div class="read-full">
 <a href="/features/25907-book-clubs-february-2021-fiction">Read More <i class="zmdi zmdi-chevron-right"></i></a>
 </div>
 </div>,
 <div class="content">
 <h4 class="italic">
 <a href="/features/25906-romance-february-2021-romance">Romance: February 2021</a>
 </h4>
 <p class="sans bold">
 Feature by Christie Ridgway
 </p>
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=romance">Romance</a>
  /
 <a href="/search?book_genre=paranormal_romance">Paranormal Romance</a>
  /
 <a href="/search?book_genre=historical_romance">Historical Romance</a>
 </p>
 <p class="excerpt">
 Whether you’re a longtime romance fan or are jumping in to the genre for the first time, celebrate Valentine’s Day with a love story.
 </p>
 <div class="read-full">
 <a href="/features/25906-romance-february-2021-romance">Read More <i class="zmdi zmdi-chevron-right"></i></a>
 </div>
 </div>,
 <div class="content">
 <h4 class="italic">
 <a href="/reviews/25951-cynthia-leitich-smith-ancestor-approved-childrens">Ancestor Approved</a>
 </h4>
 <p class="sans bold">
 Review by Hannah Lamb
 </p>
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=children_s">Children's</a>
  /
 <a href="/search?book_genre=middle_grade">Middle Grade</a>
 </p>
 <p class="excerpt">
 Ancestor Approved shines a long overdue spotlight on a joyful aspect of Native life in America today.
 </p>
 <div class="read-full">
 <a href="/reviews/25951-cynthia-leitich-smith-ancestor-approved-childrens">Read More <i class="zmdi zmdi-chevron-right"></i></a>
 </div>
 </div>,
 <div class="content">
 <h4 class="italic">
 <a href="/reviews/25949-gideon-sterer-midnight-fair-childrens"> <span style="font-style:normal;">★ </span>The Midnight Fair</a>
 </h4>
 <p class="sans bold">
 Review by Jill Lorenzini
 </p>
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=children_s">Children's</a>
  /
 <a href="/search?book_genre=children_s_picture_book">Children's Picture Book</a>
 </p>
 <p class="excerpt">
 The Midnight Fair may be a wordless picture book, but its story is clear, compelling and utterly enchanting.
 </p>
 <div class="read-full">
 <a href="/reviews/25949-gideon-sterer-midnight-fair-childrens">Read More <i class="zmdi zmdi-chevron-right"></i></a>
 </div>
 </div>]

In [843]:
for i in book:
    Book_names.append(i.get_text().replace('\n',''))
    Book_names[0:4]

In [844]:
print(len(Book_names))

6

In [845]:
author=soup.find_all('p',class_="sans bold")
author[0:4]

[<p class="sans bold">
 Feature by Julie Hale
 </p>,
 <p class="sans bold">
 Feature by Christie Ridgway
 </p>,
 <p class="sans bold">
 Review by Hannah Lamb
 </p>,
 <p class="sans bold">
 Review by Jill Lorenzini
 </p>]

In [846]:
for i in author:
    Author_names.append(i.get_text().replace('\n',''))
    Author_names[0:4]

In [847]:
print(len(Author_names))

6

In [848]:
genre=soup.find_all('p',class_="genre-links hidden-phone")
genre[0:4]

[<p class="genre-links hidden-phone">
 <a href="/search?book_genre=fiction">Fiction</a>
  /
 <a href="/search?book_genre=popular_fiction">Popular Fiction</a>
  /
 <a href="/search?book_genre=science_fiction_fantasy">Science Fiction &amp; Fantasy</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=romance">Romance</a>
  /
 <a href="/search?book_genre=paranormal_romance">Paranormal Romance</a>
  /
 <a href="/search?book_genre=historical_romance">Historical Romance</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=children_s">Children's</a>
  /
 <a href="/search?book_genre=middle_grade">Middle Grade</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=children_s">Children's</a>
  /
 <a href="/search?book_genre=children_s_picture_book">Children's Picture Book</a>
 </p>]

In [849]:
for i in genre:
    Genre.append(i.get_text().replace('\n',''))
    Genre[0:4]

In [850]:
print(len(Genre))

6

In [851]:
review=soup.find_all('p',class_="excerpt")
review[0:4]

[<p class="excerpt">
 Fight the winter doldrums with four fresh takes on the supernatural.
 </p>,
 <p class="excerpt">
 Whether you’re a longtime romance fan or are jumping in to the genre for the first time, celebrate Valentine’s Day with a love story.
 </p>,
 <p class="excerpt">
 Ancestor Approved shines a long overdue spotlight on a joyful aspect of Native life in America today.
 </p>,
 <p class="excerpt">
 The Midnight Fair may be a wordless picture book, but its story is clear, compelling and utterly enchanting.
 </p>]

In [852]:
for i in review:
    Book_review.append(i.get_text().replace('\n',''))
    Book_review[0:4]

In [853]:
print(len(Book_review))

6

In [854]:
import pandas as pd
book=pd.DataFrame({})
book['name']=Book_names[:5]
book['author']=Author_names[:5]
book['genre']=Genre[:5]
book['review']=Book_review[:5]

In [855]:
book

,name,author,genre,review
0,Book Clubs: February 2021Feature by Julie Hale...,Feature by Julie Hale,Fiction / Popular Fiction / Science Fiction & ...,Fight the winter doldrums with four fresh take...
1,Romance: February 2021Feature by Christie Ridg...,Feature by Christie Ridgway,Romance / Paranormal Romance / Historical Romance,Whether you’re a longtime romance fan or are j...
2,Ancestor ApprovedReview by Hannah LambChildren...,Review by Hannah Lamb,Children's / Middle Grade,Ancestor Approved shines a long overdue spotli...
3,★ The Midnight FairReview by Jill LorenziniCh...,Review by Jill Lorenzini,Children's / Children's Picture Book,The Midnight Fair may be a wordless picture bo...
4,★ City of the Uncommon ThiefReview by Luis G....,Review by Luis G. Rendon,YA / YA Fiction,City of the Uncommon Thief is genre-defying fi...

# 5) Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
ii) Top 10 ODI Batsmen in men along with the records of their team and rating.
iii) Top 10 ODI bowlers along with the records of their team and rating.

In [856]:
import pandas as pd
import numpy as np
import requests
from requests import get
from bs4 import BeautifulSoup

i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating

In [857]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")

In [858]:
soup=BeautifulSoup(page.content,'html.parser')

In [859]:
Top_teams=[]
Records=[]
Points=[]
Rating=[]

In [860]:
teams=soup.find_all('span',class_="u-hide-phablet")
teams[0:4]

[<span class="u-hide-phablet">England</span>,
 <span class="u-hide-phablet">India</span>,
 <span class="u-hide-phablet">New Zealand</span>,
 <span class="u-hide-phablet">Australia</span>]

In [861]:
for i in teams:
    Top_teams.append(i.get_text())
    Top_teams[0:4]

In [862]:
print(len(Top_teams))

25

In [863]:
record=soup.find_all('td',class_="table-body__cell u-center-text")
record[0:4]

[<td class="table-body__cell u-center-text">52</td>,
 <td class="table-body__cell u-center-text">6,102</td>,
 <td class="table-body__cell u-center-text">32</td>,
 <td class="table-body__cell u-center-text">3,716</td>]

In [864]:
for i in record:
    Records.append(i.get_text())
    Records[0:4]

In [865]:
print(len(Records))

38

In [866]:
points=soup.find_all('td',class_="table-body__cell u-center-text")
points[0:4]

[<td class="table-body__cell u-center-text">52</td>,
 <td class="table-body__cell u-center-text">6,102</td>,
 <td class="table-body__cell u-center-text">32</td>,
 <td class="table-body__cell u-center-text">3,716</td>]

In [867]:
for i in points:
    Points.append(i.get_text())
    Points[0:4]

In [868]:
print(len(Points))

38

In [869]:
rating=soup.find_all('td',class_="table-body__cell u-text-right rating")
rating[0:4]

[<td class="table-body__cell u-text-right rating">117</td>,
 <td class="table-body__cell u-text-right rating">116</td>,
 <td class="table-body__cell u-text-right rating">111</td>,
 <td class="table-body__cell u-text-right rating">108</td>]

In [870]:
for i in rating:
    Rating.append(i.get_text())
    Rating[0:4]

In [871]:
print(len(Points))

38

In [872]:
import pandas as pd
ICC_mens=pd.DataFrame({})
ICC_mens['teams']=Top_teams[:10]
ICC_mens['record']=Records[:10]
ICC_mens['points']=Points[:10]
ICC_mens['rating']=Rating[:10]

In [873]:
ICC_mens

          teams record points rating
0       England     52     52    117
1         India  6,102  6,102    116
2   New Zealand     32     32    111
3     Australia  3,716  3,716    108
4  South Africa     39     39    100
5      Pakistan  4,344  4,344     91
6    Bangladesh     31     31     85
7     Sri Lanka  3,345  3,345     74
8   West Indies     35     35     59
9   Afghanistan  3,490  3,490     45

 ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [874]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")

In [875]:
soup=BeautifulSoup(page.content,'html.parser')

In [876]:
Batsman=[]
Team=[]
Rating=[]

In [877]:
player=soup.find_all('td',class_="table-body__cell name")
player[0:3]

[<td class="table-body__cell name">
 <a href="/rankings/mens/player-rankings/107">Rohit Sharma</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/mens/player-rankings/2759">Babar Azam</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/mens/player-rankings/226">Ross Taylor</a>
 </td>]

In [878]:
for i in player:
    Batsman.append(i.get_text().replace('\n',''))
    Batsman[0:4]

In [879]:
print(len(Batsman))

54

In [880]:
team=soup.find_all('span',class_="table-body__logo-text")
team[0:3]

[<span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">NZ</span>]

In [881]:
for i in team:
    Team.append(i.get_text())
    Team[0:4]

In [882]:
print(len(Team))

54

In [883]:
rating=soup.find_all('td',class_="table-body__cell u-text-right rating")
rating[0:3]

[<td class="table-body__cell u-text-right rating">842</td>,
 <td class="table-body__cell u-text-right rating">837</td>,
 <td class="table-body__cell u-text-right rating">818</td>]

In [884]:
for i in rating:
    Rating.append(i.get_text())
    Rating[0:4]

In [885]:
print(len(Rating))

54

In [886]:
import pandas as pd
ICC_batsman=pd.DataFrame({})
ICC_batsman['player']=Batsman[:10]
ICC_batsman['team']=Team[:10]
ICC_batsman['rating']=Rating[:10]

In [887]:
ICC_batsman

                player team rating
0         Rohit Sharma  IND    842
1           Babar Azam  PAK    837
2          Ross Taylor   NZ    818
3          Aaron Finch  AUS    791
4  Francois du Plessis   SA    790
5         David Warner  AUS    773
6      Kane Williamson   NZ    765
7      Quinton de Kock   SA    755
8       Jonny Bairstow  ENG    754
9     Mujeeb Ur Rahman  AFG    708

 iii) Top 10 ODI bowlers along with the records of their team and rating.

In [888]:
Bowler=[]
Team=[]
Rating=[]

In [889]:
bowler=soup.find_all('td',class_="table-body__cell name")
bowler[0:3]

[<td class="table-body__cell name">
 <a href="/rankings/mens/player-rankings/107">Rohit Sharma</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/mens/player-rankings/2759">Babar Azam</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/mens/player-rankings/226">Ross Taylor</a>
 </td>]

In [890]:
for i in bowler:
    Bowler.append(i.get_text())
    Bowler[0:4]

In [891]:
print(len(Bowler))

54

In [892]:
team=soup.find_all('span',class_="table-body__logo-text")
team[0:3]

[<span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">NZ</span>]

In [893]:
for i in team:
    Team.append(i.get_text())
    Team[0:4]

In [894]:
rating=soup.find_all('td',class_="table-body__cell u-text-right rating")
rating[0:3]

[<td class="table-body__cell u-text-right rating">842</td>,
 <td class="table-body__cell u-text-right rating">837</td>,
 <td class="table-body__cell u-text-right rating">818</td>]

In [895]:
for i in rating:
    Rating.append(i.get_text())
    Rating[0:4]

In [896]:
import pandas as pd
ICC_bowler=pd.DataFrame({})
ICC_bowler['bowler']=Bowler[:10]
ICC_bowler['team']=Team[:10]
ICC_bowler['rating']=Rating[:10]

# 6)Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
ii) Top 10 women’s ODI players along with the records of their team and rating.
iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [897]:
import pandas as pd
import numpy as np
import requests
from requests import get
from bs4 import BeautifulSoup

i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating

In [898]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")

In [899]:
soup=BeautifulSoup(page.content,'html.parser')

In [900]:
Teams=[]
Records=[]
Points=[]
Rating=[]

In [901]:
team=soup.find_all('span',class_="u-hide-phablet")
team[0:4]

[<span class="u-hide-phablet">Australia</span>,
 <span class="u-hide-phablet">India</span>,
 <span class="u-hide-phablet">England</span>,
 <span class="u-hide-phablet">South Africa</span>]

In [902]:
for i in team:
    Teams.append(i.get_text())
    Teams[0:4]

In [903]:
print(len(Teams))

15

In [904]:
records=soup.find_all('td',class_="table-body__cell u-center-text")
record[0:4]

[<td class="table-body__cell u-center-text">52</td>,
 <td class="table-body__cell u-center-text">6,102</td>,
 <td class="table-body__cell u-center-text">32</td>,
 <td class="table-body__cell u-center-text">3,716</td>]

In [905]:
for i in records:
    Records.append(i.get_text())
    Records[0:4]

In [906]:
print(len(Records))

18

In [907]:
points=soup.find_all('td',class_="table-body__cell u-center-text")
points[0:4]
for i in points:
    Points.append(i.get_text())
    Points[0:4]

In [908]:
print(len(Points))

18

In [917]:
rating=soup.find_all('td',class_="table-body__cell u-text-right rating")
rating[0:4]
for i in rating:
    Rating.append(i.get_text())
    Rating[0:4]

In [918]:
print(len(Rating))

18

In [921]:
import pandas as pd
ICC_womens=pd.DataFrame({})
ICC_womens['team']=Teams[:10]
ICC_womens['records']=Records[:10]
ICC_womens['points']=Points[:10]
ICC_womens['rating']=Rating[:10]

In [922]:
ICC_womens

           team records points rating
0     Australia      15     15    121
1         India   1,812  1,812    119
2       England      14     14    110
3  South Africa   1,670  1,670     92
4   New Zealand      19     19     85
5   West Indies   2,090  2,090     73
6      Pakistan      15     15     61
7    Bangladesh   1,384  1,384     47
8     Sri Lanka      12     12     13
9       Ireland   1,025  1,025    121

 ii)Top 10 women’s ODI players along with the records of their team and rating.

In [923]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")

In [924]:
soup=BeautifulSoup(page.content,'html.parser')

In [925]:
Player=[]
Team=[]
Rating=[]

In [926]:
player=soup.find_all('td',class_="table-body__cell name")
player[0:3]
for i in player:
    Player.append(i.get_text().replace('\n',''))
    Player[0:3]

In [927]:
team=soup.find_all('span',class_="table-body__logo-text")
team[0:3]
for i in team:
    Team.append(i.get_text())
    Team[0:3]

In [928]:
rating=soup.find_all('td',class_="table-body__cell u-text-right rating")
rating[0:3]
for i in rating:
    Rating.append(i.get_text())
    Rating[0:3]

In [929]:
import pandas as pd
ICC_womensplayer=pd.DataFrame({})
ICC_womensplayer['player']=Player[:10]
ICC_womensplayer['team']=Team[:10]
ICC_womensplayer['rating']=Rating[:10]

In [930]:
ICC_womensplayer

              player team rating
0    Stafanie Taylor   WI    746
1       Alyssa Healy  AUS    741
2    Smriti Mandhana  IND    732
3  Amy Satterthwaite   NZ    723
4     Tammy Beaumont  ENG    716
5    Laura Wolvaardt   SA    691
6       Ellyse Perry  AUS    691
7        Mithali Raj  IND    687
8        Lizelle Lee   SA    681
9       Megan Schutt  AUS    735

 iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [931]:
All_rounder=[]
Team=[]
Rating=[]

In [932]:
allrounder=soup.find_all('td',class_="table-body__cell name")
allrounder[0:3]
for i in allrounder:
    All_rounder.append(i.get_text().replace('\n',''))
    All_rounder[0:3]

In [933]:
team=soup.find_all('span',class_="table-body__logo-text")
team[0:3]
for i in team:
    Team.append(i.get_text())
    Team[0:3]

In [934]:
rating=soup.find_all('td',class_="table-body__cell u-text-right rating")
rating[0:3]
for i in rating:
    Rating.append(i.get_text())
    Rating[0:3]

In [935]:
import pandas as pd
ICC_womensplayer=pd.DataFrame({})
ICC_womensplayer['player']=Player[:10]
ICC_womensplayer['team']=Team[:10]
ICC_womensplayer['rating']=Rating[:10]

# 7) Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [936]:
import pandas as pd
import numpy as np
import requests
from requests import get
from bs4 import BeautifulSoup

In [937]:
page=requests.get("https://www.amazon.in/s?k=all+mobile+phones+under+20000&crid=1GWM57F9A1MN4&sprefix=all+mobile+phones+under%2Caps%2C305&ref=nb_sb_ss_ts-doa-p_3_23")

In [938]:
soup=BeautifulSoup(page.content,'html.parser')

In [939]:
Product_name=[]
Price=[]
Image_URL=[]
Rating=[]

In [940]:
product=soup.find_all('div',class_="a-section a-spacing-none")
product[0:4]

[]

In [941]:
for i in product:
    Product_name.append(i.get_text())
    Product_name[0:4]

In [942]:
print(len( Product_name))

0

In [943]:
price=soup.find_all('span',class_="a-price-whole")
price[0:4]

[]

In [944]:
for i in price:
    Price.append(i.get_text())
    Price[0:4]

In [945]:
print(len( Price))

0